version: 2
updates:
    - package-ecosystem: cargo
      directory: /
      schedule:
          interval: weekly
      open-pull-requests-limit: 5
      labels:
          - dependencies
          - rust
      ignore:
          - dependency-name: ureq
            versions: ["3.x"]
          - dependency-name: bincode
            versions: ["3.x"]
          - dependency-name: toml
            versions: ["1.x"]
          - dependency-name: rustyline
            versions: ["17.x"]

    - package-ecosystem: github-actions
      directory: /
      schedule:
          interval: weekly
      open-pull-requests-limit: 3
      labels:
          - dependencies
          - ci
